<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="autoDesigner1.design.Activator"
               id="eed.viewpointSpecification.design"
	       name="viewpointSpecification">
    </component>
  </extension>
</plugin>
