<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated autoDesigner1 -->
      <package
            uri="http://www.example.org/autoDesigner1"
            class="autoDesigner1.AutoDesigner1Package"
            genModel="model/autoDesigner1.genmodel"/>
   </extension>

</plugin>
